extends layout
block content
    <div class="page-title"> #{title} </div>
    p Welcome to #{title}
    p para 1
    p para 2
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    p next para
    

