doctype html
html(lang=en)
	include ./includes/head.pug
	body
		<div class="container">
			<div class="row">
				<div class="col" id="header-wrap">
					include ./includes/header-nav.pug
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2" id="nav-wrap">
					<span>This is the left panel</span>
				</div>
				<div class="col-xs-10" id="content-wrap">
					block content
				</div>
			</div>
			<div class="row">
				<div class="col" id="footer-wrap">
					include ./includes/footer.pug
				</div>
			</div>
		</div>
