doctype html
html(lang=en)
	include ./includes/head.pug
	body
		<div class="container" id="body-wrap">
			<div class="row" id="header-wrap">
				<div class="col">
					include ./includes/header.pug
				</div>
			</div>
			<div class="row" id="middle-wrap">
				<div class="col-xs-2" id="nav-wrap">
					<span>This is the left panel</span>
				</div>
				<div class="col-xs-10" id="content-wrap">
					block content
				</div>
			</div>
			<div class="row" id="footer-wrap">
				<div class="col">
					include ./includes/footer.pug
				</div>
			</div>
		</div>
