body {
	padding-bottom: 20px;
	padding-top: 50px;
}

#nav-wrap {
    background-color: #efefef;
    padding: 5px;
    height: 564px;
}

#content-wrap {
    padding:5px;
}

.container {
    width: 100%;
}
.form-control {
    width: 250px;
}
