html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

body {
	padding-bottom: 20px;
	padding-top: 50px;
}

#nav-wrap, #content-wrap, #footer-wrap {
    padding: 5px;
}

#body-wrap {
    width:100%;
}

#content-wrap {
    border-left: 1px solid #efefef;
}

#footer-wrap {
    background-color: #f2f2f2;
}
.form-control {
    width: 250px;
}
